[submodule "MNS"]
	path = MNS
	url = https://github.com/jakfol1217/Machine-Number-Sense-Dataset
[submodule "Duel-IQ"]
	path = Duel-IQ
	url = https://github.com/jakfol1217/Duel-IQ-fork
[submodule "Extrapolation"]
	path = Extrapolation
	url = https://github.com/jakfol1217/learning_representations_that_support_extrapolation-fork
[submodule "vasr"]
	path = vasr
	url = https://github.com/jakfol1217/vasr-fork
